<h1>Listing Classes</h1>
<%= link_to 'Register', new_registration_path %>

<table>
  <tr>
    <th>Class</th>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.name %></td>
    <td><center><%= lecture.id %></center></td>
    <td><%= link_to 'Show', lecture %></td>
    <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
    <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class', new_lecture_path %> |
<%= link_to 'Students', students_path %> |
<%= link_to 'Registration Home', registrations_path %>
